/* --- UI Styles --- */
.preview-follower__inner,
.preview-follower__label {
  transition: opacity 0.1s ease, transform 0.3s cubic-bezier(0.65, 0.1, 0, 1);
}

.preview-follower__inner {
  opacity: 0;
  transform: scale(0);
}

.preview-follower__label {
  opacity: 0;
  transform: translate(0px, 100%);
}

.preview-item__heading {
  transition: color 0.2s ease;
}

.preview-follower [data-follower-visual] {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media (hover: hover) and (min-width: 992px) {
  body:has([data-follower-collection]:hover) .preview-follower__inner {
    opacity: 1;
    transform: scale(1);
  }
  body:has(.preview-item:hover) .preview-follower__label {
    opacity: 1;
    transform: translate(0px, 0%);
  }
  body:has(.preview-item:hover) .preview-item:not(:hover) .preview-item__heading {
    color: var(--_color---ms--nebula-dark);
  }
}

/* --- Rotating Text --- */
.rotating-text-wrap {
  overflow: hidden;
  line-height: 1.2;
}

#rotating-text {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.char {
  will-change: transform, opacity;
  display: inline-block;
}

/* --- Footer Animations --- */
.footer-nav__li:hover .horizontal-line-link {
  transform: scaleX(1);
  transform-origin: left;
}

.footer-nav__li:not(:hover) .horizontal-line-link {
  transform: scaleX(0);
  transform-origin: right;
}